{% extends 'layouts/base.twig' %}

{% block title %}
	Index
{% endblock %}

{% block header_scripts %}

{% endblock %}

{% block content %}
	<p>Content</p>
{% endblock %}

{% block scripts %}
	
{% endblock %}
